<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <br>
        <img src="https://studiosol-a.akamaihd.net/uploadfile/letras/albuns/7/f/e/b/1190821636713923.jpg" alt="">
        <ion-card-content>
         <p><strong>Álbum de estúdio de Silk Sonic com Bruno Mars</strong></p>
         <p class = "ion-text-right">
           <ion-badge>
           Valor:R$40,09
         </ion-badge>
        </p>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="6">
     <ion-card>
       <br>
       <img src="https://m.media-amazon.com/images/I/61TZoz02rbL._AC_SX425_.jpg" alt="" >
       <ion-card-content>
         <p><strong>Álbum Fine Line de Harry Styles </strong></p>
         <p class = "ion-text-right">
          <ion-badge>
          Valor:R$40,09
        </ion-badge>
       </p>
       </ion-card-content>
     </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>



</ion-content>
