<ion-header [translucent]="true">
  <ion-toolbar color="marrom">
    <ion-title> ALBUM STORE </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-icon name="search-circle-outline" slot="start"></ion-icon>
      <ion-label>Pesquisar</ion-label>
      <ion-button color="azul" fill="outline" slot="end">View</ion-button>
    </ion-item>


    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/1/17/Cage_the_Elephant_Social_Cues.jpg" />
      </ion-thumbnail>
      <ion-label>Social Cues</ion-label>
      <ion-badge color="verde">R$330,00</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/6/62/Unpeeled.jpg" />
      </ion-thumbnail>
      <ion-label>Unpeeled</ion-label>
      <ion-badge color="verde">R$137,00</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/a/a2/Cage_the_Elephant_-_Tell_Me_I%27m_Pretty.png" />
      </ion-thumbnail>
      <ion-label>Tell Me I'm Pretty</ion-label>
      <ion-badge color="verde">R$114,00</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/1/1e/Cage_the_Elephant_Melophobia.jpg" />
      </ion-thumbnail>
      <ion-label>Melophobia</ion-label>
      <ion-badge color="verde">R$337,00</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://i.scdn.co/image/ab67616d0000b2737e08d3cd013c388e03c52ade" />
      </ion-thumbnail>
      <ion-label>Live From the Vic in Chicago</ion-label>
      <ion-badge color="verde">R$140,00</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/8/89/Cagetheelephant_thank-you-happy-birthday.jpg" />
      </ion-thumbnail>
      <ion-label>Thank You, Happy Birthday</ion-label>
      <ion-badge color="verde">R$130,00</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYprO0pLVWe6-ZVt42nW00NCCdRnUlOGaO5W4Jbb4&usqp=CAE&s" />
      </ion-thumbnail>
      <ion-label>Live at Grimey's</ion-label>
      <ion-badge color="verde">R$200,00</ion-badge>
    </ion-item>

    <ion-item>
      <ion-thumbnail slot="start">
        <img src="https://upload.wikimedia.org/wikipedia/en/9/95/Cage_the_elephant_album.jpg" />
      </ion-thumbnail>
      <ion-label>Cage the Elephant</ion-label>
      <ion-badge color="verde">R$160,00</ion-badge>
    </ion-item>


  </ion-card>

</ion-content>
